@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #f7f7f7;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: black;
	font-size: 1em;
}

* {
	box-sizing: border-box;
}

h2 {
	font-weight: 300;
	color: #8b8983;
	text-transform: uppercase;
	font-size: 1.3em;
	margin: 30px 0 5px 0;
}

a:link, a:visited, a:active {
	color: #B49AD6;
	text-decoration: none;
}

a:hover {
	color: #3548A7;
}

a.current {
	color: #3548A7;
}

.main {
	margin: 0 auto;
	width: 216px;
}

.iconwrap {
	width: 216px;
	height: 216px;
	margin: 30px auto;
	background:#FFC200;
}

#icon {
	width: 144px;
	height: 144px;
	margin: 0 auto;
	padding-top: 36px;
	-webkit-transition: .200ms;
	-moz-transition: .200ms;
	transition: .200ms;
}

#icona {
	width: 144px;
	height: 143px;
}

.square {
	-webkit-mask-box-image: url('../img/square.svg');
  mask-image: url('../img/square.svg');
  -webkit-mask-size: 144px 144px;
  mask-size: 144px 144px;
}

.ios {
	-webkit-mask-box-image: url('../img/ios.svg');
  mask-image: url('../img/ios.svg');
  -webkit-mask-size: 144px 144px;
  mask-size: 144px 144px;
}

.circle {
	-webkit-mask-box-image: url('../img/circle.svg');
  mask-image: url('../img/circle.svg');
  -webkit-mask-size: 144px 144px;
  mask-size: 144px 144px;
}

.squircle {
	-webkit-mask-box-image: url('../img/squircle.svg');
  mask-image: url('../img/squircle.svg');
  -webkit-mask-size: 144px 144px;
  mask-size: 144px 144px;
}

.roundsquare {
	-webkit-mask-box-image: url('../img/roundsquare.svg');
  mask-image: url('../img/roundsquare.svg');
  -webkit-mask-size: 144px 144px;
  mask-size: 144px 144px;
}

#grid {
	width: 216px;
	height: 216px;
	background: url('../img/grid.png') no-repeat center center;
	background-size: 216px;
	opacity: 0;
	position: absolute;
	z-index: 10001;
  -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
      -ms-transition: opacity 200ms ease-in;
        -o-transition: opacity 200ms ease-in;
          transition: opacity 200ms ease-in;
}

.hidegrid {
	opacity: 0;
  -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
      -ms-transition: opacity 200ms ease-in;
        -o-transition: opacity 200ms ease-in;
          transition: opacity 200ms ease-in;
}

.showgrid {
	opacity: 1;
  -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
      -ms-transition: opacity 200ms ease-in;
        -o-transition: opacity 200ms ease-in;
          transition: opacity 200ms ease-in;
}

.shape {
	display: inline-block;
	margin: 14px 12px 0 0;
}
